
 :root{

    --primary-color: #67E2EA;
    /* --secondary-color: #E65525; */
    --secondary-color: #00778B;
    --standard-margin: 0.5rem;
    --small-margin: 0.2rem;
    --large-margin: 1rem;
    
    }
    
*{
  margin: 0rem;
  padding: 0rem;
}
 
   /* .landing-page
   {
    margin: 0rem;
    padding: 0rem;

   } */
.landing-main
{
    
    padding: 0rem;
    width: 100%;
    height: 100vh;
   background-image: url("./../../../public/images/main-img.webp");
    background-size: cover;
    margin-bottom: 2rem;
}
.carousel-container {
    /* margin: 2.5rem 0 2.5rem 0; */
    /* height: 60rem; */
    height: 70%;
    /* width: 100%; */
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}
  
  .carousel-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: right;
padding-right:1.5rem ;

    width: 50%;
    color: white;
  }
  
  .carousel-heading {
    
  text-align: right;
    font-size: 4.5rem;
    font-weight: 500;
    color: var(--primary-color);
  }
  .login
  {
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
    color: black;
    border: 2px solid var(--primary-color);
    border-radius: 10px;

  }

  .login:hover
  {
background-color: transparent;
  }
  .carousel-desc
  {
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(202, 190, 190);

  }
  
  .btn-comp
  {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0.5rem;

  }

  .btn
{
    font-size: 1.5rem;
    padding: 1rem 3rem 1rem 3rem;
    /* background-color: var(--primary-color); */
    background-color: var(--primary-color);
    border-radius: 7px;
    border: 5px solid var(--primary-color);
    color: black;
    font-weight: 700;
    -webkit-box-shadow: 10px 7px 18px -3px rgba(128,125,128,0.63);
    -moz-box-shadow: 10px 7px 18px -3px rgba(128,125,128,0.63);
    box-shadow: 10px 7px 18px -3px rgba(128,125,128,0.63);
margin: 1rem;

}

.btn:hover
{
    background-color: var(--secondary-color);
    border: 5px solid var(--secondary-color);
    color: white;
}
.feature-logo
{
    height: 8rem;
    width: 8rem;
}

.feature-section
{
  margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.5rem;
    padding: 1.5rem;
    /* height: 100vh; */
}

.feature-box
{
    padding: 00.5rem;
height: 20rem;
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
background-color: var(--primary-color);
border-radius: 10px;
color: black;
}
.section-heading
{
    margin: 1rem 0 0 0;
}
.feat-desc
{
    font-size: 1.25rem;
}

.feature-box:hover
{
    color: white;
    background-color: var(--secondary-color);
   
}

.stat-container
{
    margin-bottom: 2.5rem;
    display: flex;
    flex-flow: row ;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    height: 50vh;
}
.number-sphere
{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: var(--primary-color);
    font-size: 3.5rem;
    border: 20px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number-sphere:hover
{
    background-color: var(--secondary-color);
    color: white;
}
.stat
{
    width: 50%;
    color: black;
}



.info-modal
{
    /* height: 35rem; */
    display: flex;
flex-flow: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
  color: white;
  padding: 0.5rem;

  margin: 2.5rem 1rem 2.5rem 1rem;
}

.info-desc
{
   width: 45%; 
   display: flex;
   flex-flow: column;
   align-items: center;
   gap: 0.5rem;
   justify-content: center;
}

.info-heading
{
    font-size: 2.5rem;
    font-weight: 700;

}

.info-disp
{
    width: 45%;
    height: 30rem;
    margin: 0.5rem;
}
.info-content
{
    font-size: 1.5rem;
    width: 70%;
}
.info-img
{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.one{
    background: rgb(103,226,234);
    background: linear-gradient(225deg, rgba(103,226,234,1) 41%, rgba(0,119,139,1) 75%);
}

.two
{
    background: rgb(103,226,234);
    background: linear-gradient(63deg, rgba(103,226,234,1) 41%, rgba(0,119,139,1) 75%);
}


.demo-section
{
    height: 20rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 1rem 2.5rem 1rem;
padding: 1rem;
background-color: var(--primary-color);
border-radius: 10px;
}

.demo-info
{
    width: 45%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.demo-btns
{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.5rem;
}
.demo-heading
{
    font-size: 3rem;
    margin: var(--small-margin);
}

.req-btn
{
    /* padding: 2rem 3rem; */
    padding: 0.5rem;
    width: 200px;
    height: 200px;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: white;
    border: 10px solid black;
    border-radius: 50%;
    text-align: center;
}

.req-btn:hover
{
    background-color: var(--secondary-color);
    border-color: white ;
    color: white;
}

.broch-btn
{

    padding: 0.5rem;
    width: 200px;
    height: 200px;
    font-size: 1.5rem;
    font-weight: 700;

    border-radius: 50%;
    text-align: center; 
    background-color: var(--primary-color);
    border: 10px solid white;
    color: black;
}

.broch-btn:hover
{
    background-color: var(--secondary-color);
    border: 10px solid black;
    color: black;
}